
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: cadetblue;
    
}

h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: cadetblue;
}
.azul{
    color:cadetblue;
}
p:hover{
    color: crimson;
}

#descripcion:hover{
    font-family:'Courier New', Courier, monospace;
}

body {
    margin: 0 auto;
    max-width: 50em;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    
}

body {
    line-height: 1.5;
    padding: 4em 1em;
}
  
h2 {
    margin-top: 1em;
    padding-top: 1em;
}

body {
    color: #555;
}

h1,
h2,
strong {
  color: #333;
}