<article>
    <div class="container">
        <h1>Juguemos piedra papel o tijera</h1>
        <form action="lab13" method="POST">
            <fieldset>
                <legend>Elige y cuando presiones el boton jugar yo también eligiré!</legend>
                <br><br>
                <label style="color: white"> piedra papel o tijera</label>
                <input type="elige" name="elige" id="elige">
            </fieldset>
            <br>
            <input type="submit" class="btn" value="Jugar">
        </form>
    </div>
</article>