<article>
    <h3> Preguntas Lab </h3>
        <div class = "accordion" >
            <div class = "contentBx"> 
                <div class = "label"> Pregunta 1:  ¿Qué beneficios encuentras en el estilo MVC?</div>
                <div class = "content">
                    <p> Te permite des espaguetificar tu códgo, haciendolo más limpio, eficiente y sobre todo no dependiente de si mismo, es decir que si modifico una parte del código el resto se adapta y puedo conservar el antiguo archivo sin mayor problema</p>
                </div>
            </div>
            <div class = "contentBx"> 
                <div class = "label"> Pregunta 2: ¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</div>
                <div class = "content">
                    <p> En mi caso, es muy fácil sentirse abrumado entre decenas de carpetas y decenas de archivos para funciones relativamente simples, sin embargo, en proyectos más grandes este estilo es muchisimo más eficiente y adaptable.</p>
                </div>
            </div>
        </div>
</article>