<article>
    <h3> Preguntas Lab </h3>
        <div class = "accordion" >
            <div class = "contentBx"> 
                <div class = "label"> Pregunta 1:  ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</div>
                <div class = "content">
                    <p>Te da mucho más libertad de modificar las funciones para tu base de datos sin tener que reescribir mucho código. Así como proteccion añadida contra inyeccion de SQL al agregar queires parametrizadas y stringificacion de parámetros. </p>
                </div>
            </div>
            <div class = "contentBx"> 
                <div class = "label"> Pregunta 2: ¿Qué es SQL injection y cómo se puede prevenir?</div>
                <div class = "content">
                    <p> Se refiere a la introducción de código SQL por un tercero con el objetivo de borrar o robar información. Esto ocurre porque si no tenemos los cuidados adecuados la computadora puede interpretar introducción de datos como líneas de código que afectan a base. Entre las estrategias más comúnes está: Queries parametrizadas, encriptación de queries, validación de input por lista y no por string.</p>
                </div>
            </div>
            <div class = "contentBx"> 
                <div class = "label"> Pregunta 3: ¿Qué otras formas de autentificación existen?</div>
                <div class = "content">
                    <p></p>
                </div>
            </div>
        </div>
</article>