<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>  
        <h1> Ay caray, algo salio mal chaval, dejame ver que onda</h1>
    <%- include('includes/foot.ejs') %>   
</body>