<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio 6</title>
    <nav>
        <div class="nav-wrapper red">
          <a href="#" class="brand-logo ">TC2005B </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Laboratorio 12</a></li>
            <li><a href="badges.html">Carlos Adrián García Estrada </a></li>
            <li><a href="collapsible.html">A01707503</a></li>
          </ul>
        </div>
      </nav>
        <div class="container">
            <!-- Page Content goes here -->
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="C:\Users\Charlie\OneDrive\Documentos\4to Semestre\Software\Construcci-nDeSoftware\public\css\lab6.css" media="screen, projection"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <section>
        <article>
            <div class="container">
                <h1>Juguemos piedra papel o tijera</h1>
                <form action="lab12" method="POST">
                    <fieldset>
                        <legend>Elige y cuando presiones el boton jugar yo también eligiré!</legend>
                        <br><br>
                        <label style="color: white"> piedra papel o tijera</label>
                        <input type="elige" name="elige" id="elige">
                    </fieldset>
                    <br>
                    <input type="submit" class="btn" value="Jugar">
                </form>
            </div>
        </article>
    </section>
    <section>
        <article>
            <h3> Preguntas Lab 6 class</h3>
                <div class = "accordion" >
                    <div class = "contentBx"> 
                        <div class = "label"> Pregunta 1:  ¿Qué otros templating engines existen para node?</div>
                        <div class = "content">
                            <p> </p>
                        </div>
                </div>
        </article>
        <article>
            <h3> Referencias</h3>
            <ul>   
                <li><a href="https://expressjs.com/en/resources/template-engines.html">Express, (s.f). Template engines</a></li>
            </ul>
        </article>
    </section>
    <footer class="page-footer red">
        <div class="container">
          <div class="row">
            <div class="col l6 l12">
              <h5 class="white-text">TC2005B</h5>
              <p class="grey-text text-lighten-4">Construcción de software y toma de decisiones.</p>
            </div>
            <div class="col l4 offset-l2 l12">
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © No hay copyright porque soy pobre
          </div>
        </div>
    </footer>
    <script>
        const accordion = document.getElementsByClassName("contentBx");
        for (i=0; i<accordion.length; i++){
            accordion[i].addEventListener("mouseover",function(){
                this.classList.toggle("active")
            })
        }
        
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script> M.AutoInit();</script>
</body>
</html>