<!DOCTYPE html>
<!--  Nombre: Carlos Adrián García Estrada    Matricula: A01707503
// Fecha: 11 de agosto 2022--> 

<!-- Laboratorio 3: CSS -->

<html lang="es">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen, projection"/>
</head>
<body>
    <section>
        <article>
            <h1> Laboratorio 3</h1>
            <h2> Carlos Adrián García Estrada</h2>
            <h2> A01707503</h2>
        </article>
        <article>
            <h2> Preguntas Laboratorio 3 :CSS</h2>
            <ul>
                <li> Como ingeniero de software ¿cuál es tu recomendación sobre el uso de !important en un CSS?  </li>
                    <p> Nos permite obviar el estilo que generamos en cascada y ahorrar líneas de código al establecer un parametro que seguir y solamente cambiar lineas específicas, en vez de aplicar un estilo a cada linea.</p>
                <li> Si se pone una imagen de fondo en una página HTML, ¿por qué debe escogerse con cuidado? </li>
                    <p>  Porque es posible que el color conflictúe con el estilo de nuestros textos y/o la resolución no sea buena</p>
                <li>  ¿Por qué el uso de una versión minimizada del CSS mejora el rendimiento del sitio?</li>
                    <p> Porque elimina los espacios, tabs y saltos de línea innecesarios para la lectura adecuada por una computadora, permitiendo una lectura y reproducción de la página mucho más rápida cuando es pesada.</p>
                <li> Como ingeniero de software, ¿cuál es tu recomendación al elegir las unidades de un propiedad de estilo entre %, px y pt?</li>
                    <p> Debemos usarlos dependiendo del grado de especificidad, % se usa si no queremos ser tan específicos y ya tenemos un punto de referencia (relativa), Px es mucho más precisa ya que es un valor absoluto y su mejor uso es cuando el contenido será visualizado únicamente digital. pt es mucho más específico y debe ser utilizado si se pretende imprimir el contenido.</p>
            </ul>
        </article>
        <article>
            <h2> Referencias</h2>
            <ul>   
                <li> Copes, F. (24 de abril, 2019). The CSS Handbook: A Handy Guide to CSS for Developers. FreeCodeCamp. Recuperado de: https://www.freecodecamp.org/news/the-css-handbook-a-handy-guide-to-css-for-developers-b56695917d11/#backgrounds</li>
                <li> Geeks for Geeks. (31 de julio,2019.) Minification of CSS files. Recuperado de: https://www.geeksforgeeks.org/minification-of-css-files/</li>
                <li> W3C. (6 de enero, 2021). EM, PX, PT, CM, IN…. Recuperado de: https://www.w3.org/Style/Examples/007/units.en.html/</li>
            </ul>
        </article>
    </section>
</body>
</html>