<!--  Nombre: Carlos Adrián García Estrada    Matricula: A01707503
// Fecha: 11 de agosto 2022--> 

<!-- Laboratorio 4: Fundamentos de Javascript -->

<html lang="es">
<head>
    <meta charset="UTF-8">
    <h1> Laboratorio 4: Fundamentos de Javascript</h1>
    <h2> Carlos Adrián García Estrada</h2>
    <h2> A01707503</h2>
    <link type="text/css" rel="stylesheet" href="/css/style.css" media="screen, projection"/>
</head>
<body>
    <section>
        <article>
            <h2> Preguntas Lab 5</h2>
            <ul>
                <li> ¿Qué diferencias y semejanzas hay entre Java y JavaScript?</li>
                    <p> Las similitudes terminan en el nombre, aunque en sus primeras iteraciones, java y javascript tenían una sintaxis simlar. En las diferencias, javascript es un lenguaje interpretado, mientras que Java es interpretado y compilado. También Java es tipado mientras que Javascript no lo es. Java esta enfocado en la OOP y javascript en prototipado y paginas web.     </p>
                <li> ¿Qué métodos tiene el objeto Date? (Menciona al menos 5*)</li>
                    <p> El objeto date permite utilizar el tiempo para la medición de ejecución y otras funciones, entre ellas: getFullYear(): devuelve el año en 4 digitos. Date.now(): devuelve la hora en el instante. getTime(): devuele el número de milisegundos desde enero 1, 1970. getDate(): devuelve el día como 2 digitos. getHours: devuele la hora. </p>
                <li> ¿Qué métodos tienen los arreglos? (Menciona al menos 5*)</li>
                   <p> Los arreglos nos permiten guardar datos en forma de lista. Entre sus principales métodos están: push(): permite agregar un elemnto al array hasta el final. unshift(): insertar elemento al principio del array. pop(): borrar un elemento del final del array. shift(): remover un elemento del incio del array. Y length(): devuelve el tamaño del arreglo.</p>
                <li> ¿Cómo se declara una variable con alcance local dentro de una función?</li>
                    <p> Debemos utilizar la sentencia var mas el nombre de nuestra variable.</p>
                <li> ¿Qué implicaciones tiene utilizar variables globales dentro de funciones?</li>
                    <p> Es posible que el valor de la variable afecte la ejecución de otras funciones con variables comunes como "count" o "i" ya que esta guardaría su último valor. Es mejor utilizar variables por referencias </p>
            </ul>
        </article>
            <h2> Referencias</h2>
            <ul>   
                <li>Cerón, M. (s.f). Hackaboss. Recuperado de: https://www.hackaboss.com/blog/diferencias-javascript-java </li>
                <li>Adhikary, T. (mayo 21, 2021). The JavaScript Array Handbook – JS Array Methods Explained with Examples. Recuperado de: https://www.freecodecamp.org/news/the-javascript-array-handbook/</li>
                <li >W3 schools. (s.f). Recuperado de: https://www.w3schools.com/js/js_date_methods.asp</li>
            </ul>
        <article>
            <h2> Casos javascript</h2>
        </article>
    </section>
    <script src="/js/lab4.js"></script>
</body>