<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio 6</title>
    <nav>
        <div class="nav-wrapper red">
          <a href="#" class="brand-logo ">TC2005B </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="lab6.html">Página Principal</a></li>
            <li><a href="lab6juego.html">Minigame</a></li>
          </ul>
        </div>
    </nav>
    <div class="container">
            <!-- Page Content goes here -->
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="C:\Users\Charlie\OneDrive\Documentos\4to Semestre\Software\Construcci-nDeSoftware\public\css\lab6.css" media="screen, projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <section>
        <article>
            <h2> Bienvenido a la tienda imposible</h2>
            <div>
                <h1>En esta tienda se venden puras cosas raras</h1>
                <form action="tienda" method="POST">
                    <fieldset>
                        <label for="antimateria" style=" color:white">1mg de antimateria</label>
                        <img id="1gr" src="C:\Users\Charlie\OneDrive\Imágenes\antimateria.jpg" width="100" height="100" alt= "gramo de antimateria"> 
                        <p> Precio: $62,500 </p> 
                        <input type="number" name="antimateria" min=1 max= 10 id="cant1">
                    </fieldset>
                    <br>
                    <input type="submit" class="btn" value="comprar antimateria" id="anti">
                </form>
                <form action="tienda" method="POST">
                    <fieldset>
                        <label for="crush" style=" color:white"> Que tu crush te ame </label>
                        <img id="crush1" src="C:\Users\Charlie\OneDrive\Imágenes\crush.jpg" width="100" height="100" alt= " tú y tu crush">
                        <p> Precio: $15000 </p> 
                        <input type="number" name="crush" min= 1 max =1 id="cant2">
                    </fieldset>
                    <br>
                    <input type="submit" class="btn" value="comprar crush" id="crush">
                </form>
                <form action="tienda" method="POST">
                    <fieldset>
                        <label for="saul" style=" color:white"> Saul </label>
                        <img id="saul1" src="C:\Users\Charlie\OneDrive\Imágenes\saul.jpg" width="100" height="100" alt= "solgudman">
                        <p> Precio: $111 </p> 
                        <input type="number" name="saul" min=1 max =100 id="cant3">
                    </fieldset>
                    <br>
                    <input type="submit" class="btn" value="comprar saul" id="saul">
                </form>

            </div>
        </article> 
    </section>
    <footer class="page-footer red">
        <div class="container">
          <div class="row">
            <div class="col l6 l12">
              <h5 class="white-text">TC2005B</h5>
              <p class="grey-text text-lighten-4">Construcción de software y toma de decisiones.</p>
            </div>
            <div class="col l4 offset-l2 l12">
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © No hay copyright porque soy pobre
          </div>
        </div>
    </footer>
    <script src="precios1.js"></script>

</body>
